In [1]:
import os
import pandas as pd

In [2]:
from dotenv import load_dotenv
load_dotenv('/Users/daniel/OAN/credentials/contoan/.env')

True

In [4]:
sql = """
   SELECT acc.id as `ID`,
       acc.creation_date as `CREACION`,
       acc.execution_date as `EJECUCION`,
       acc.concept as `CONCEPTO`,
       pr.name as `PROJECTO`,
       int.name as `INTERVENCION`,
       ph.name as `FASE`,
       CASE 
        WHEN acc.type = 'expense'  THEN 'Gasto'
        WHEN acc.type = 'income'  THEN 'Ingreso'
        WHEN acc.type = 'movement'  THEN 'Movimiento'
        ELSE ''
      END AS `TIPO`,
       acc.amount as `CANTIDAD`,
       acc.vat as `IVA`,
       acc.vat_amount as `IVA_CTA`,
       tg.name as `CAJA_BANCO`,
       ac.name as `CATEGORIA`,
       acc.description as `DESCRIPCION`,
       cr.name as `CREADOR`,
       rs.name as `RESPONSABLE`,      
       acc.code as `COTADOR`,
       acc.origin as `ORIGEN`,
       acc.place as `LUGAR`,
       acc.receipt as `FACTURA`
       
      
FROM `oan-nikarit.contoan.accounting` acc
LEFT OUTER JOIN `oan-nikarit.contoan.accounts` ac
ON acc.account_id = ac.id
LEFT OUTER JOIN `oan-nikarit.contoan.accounts` tg
ON acc.target_id = tg.id
LEFT OUTER JOIN `oan-nikarit.contoan.projects` pr
ON acc.project = pr.id
LEFT OUTER JOIN `oan-nikarit.contoan.projects` int
ON acc.intervention = int.id
LEFT OUTER JOIN `oan-nikarit.contoan.projects` ph
ON acc.phase = ph.id
LEFT OUTER JOIN `oan-nikarit.contoan.users` cr
ON acc.creator_user = cr.id
LEFT OUTER JOIN `oan-nikarit.contoan.users` rs
ON acc.user_in_charge = rs.id
""".lower()

# Run a Standard SQL query using the environment's default project
df = pd.read_gbq(sql)

Downloading: 100%|██████████| 2410/2410 [00:01<00:00, 1749.06rows/s]

In [83]:
df['ano_mes'] =  df['ejecucion'].dt.year.apply(str)+df['ejecucion'].dt.month.apply(lambda x: '0'+str(x) if x<10 else str(x))

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2410 entries, 0 to 2409
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            2410 non-null   object
 1   creacion      2410 non-null   datetime64[ns, UTC]
 2   ejecucion     2410 non-null   datetime64[ns, UTC]
 3   concepto      2410 non-null   object
 4   projecto      2410 non-null   object
 5   intervencion  2410 non-null   object
 6   fase          784 non-null    object
 7   tipo          2410 non-null   object
 8   cantidad      2410 non-null   float64
 9   iva           2406 non-null   float64
 10  iva_cta       2405 non-null   float64
 11  caja_banco    2410 non-null   object
 12  categoria     2410 non-null   object
 13  descripcion   2339 non-null   object
 14  creador       2410 non-null   object
 15  responsable   2410 non-null   object
 16  cotador       2410 non-null   int64
 17  origen        2410 non-null   object
 18  lugar         2410 non-null   object
 19  factura       349 non-null    object
 20  mes           2410 non-null   int64
 21  ano_mes       2410 non-null   object
dtypes: datetime64[ns, UTC](2), float64(3), int64(2), object(15)
memory usage: 414.3+ KB

In [85]:
df[(df['factura'] != '') & 
   ~(df['factura'].isna())].shape

(342, 22)

In [86]:
df_cf = df[(df['factura'] != '') & 
   ~(df['factura'].isna())]

In [87]:
df_sf = df[~(df.index.isin(df_cf.index))]

In [88]:
df_sf['projecto'].unique()

array(['Nikarit', 'Administration_general', 'Emancipacion', 'ADSAN',
       'Aguapp', 'Évènements', 'Fassol', 'Forum Nikki', "Pompes d'eau"],
      dtype=object)

In [89]:
df_sf[(df_sf['creador'] == 'Mireille') &
      ((df_sf['projecto'] == 'Nikarit') |
       (df_sf['projecto'] == 'Emancipacion'))].groupby('ano_mes').count()['id']

ano_mes
201909     1
202002     1
202003     2
202004     3
202008     5
202009     7
202010    12
202011     6
202012     7
Name: id, dtype: int64

In [90]:
df_ob = df_sf[(df_sf['creador'] == 'Mireille') &
              (df_sf['origen'] == 'contoan') &
              (df_sf['tipo'] == 'gasto') &
              ((df_sf['projecto'] == 'Nikarit') |
               (df_sf['projecto'] == 'Emancipacion'))]

In [91]:
df_ob['lugar'].value_counts()

benin    38
Name: lugar, dtype: int64

In [96]:
d_t = df_ob.sort_values('ejecucion',ascending=False).T.to_dict()
for d in d_t:
    row = d_t[d]
    id_mov = row['id']
    concepto = row['concepto']
    e_date = str(row['ejecucion'])[0:10]
    url = 'https://nikarit.oaninternational.org/accounting/details/'+id_mov
    print(e_date,concepto,url,'\n')

2020-12-31 salaire mireill https://nikarit.oaninternational.org/accounting/details/JeBqTh8Qs8pdK5oor9CC

2020-12-31 salaire animatrice https://nikarit.oaninternational.org/accounting/details/UuUjfIx2G2HhyzgI6V8d

2020-12-15 transport pour rencontrer les impayés de crédit sianson https://nikarit.oaninternational.org/accounting/details/j5k2wcUzLXMzcjexZ5kG

2020-12-06 15000 https://nikarit.oaninternational.org/accounting/details/tALE8iLqcCB3jI4Q1vvH

2020-12-06 salaire younouss https://nikarit.oaninternational.org/accounting/details/LIoXWYcAZ4rpmNNP7i22

2020-12-01 achat crédit https://nikarit.oaninternational.org/accounting/details/IMGLPH1C41d6d1qIFAxg

2020-12-01 crédit pour appel   https://nikarit.oaninternational.org/accounting/details/m5EehMu4Ltco4WZ1ad6o

2020-11-30 salaire Mireille https://nikarit.oaninternational.org/accounting/details/qCxezZFI7hM5cY1h4D9y

2020-11-30 salaire coordonnatrice https://nikarit.oaninternational.org/accounting/details/UbhcExnhpq32d2rwNsSR

2020-11-21 transport du beurre pour Cotonou https://nikarit.oaninternational.org/accounting/details/tptIWNljsYl21woslC5T

2020-11-21 transport et hébergement à cotonou https://nikarit.oaninternational.org/accounting/details/mTQhR3C5Cjyk0zojTglv

2020-11-01 achat credit https://nikarit.oaninternational.org/accounting/details/8KJa8nis6dOmh8cTL6R2

2020-11-01 achat crédit pour appel et internet  https://nikarit.oaninternational.org/accounting/details/zWNtP3yDIFTmfEVeMAQT

2020-10-31 forfait appel et internet  https://nikarit.oaninternational.org/accounting/details/EZQLrgAFNPbTAG5BP1Tl

2020-10-31 transport taxi moto https://nikarit.oaninternational.org/accounting/details/kWyC7n9DYWVNwoopc2iY

2020-10-31 salaire coordonatrice https://nikarit.oaninternational.org/accounting/details/ZL6f24qApCSenLONqagV

2020-10-31 matériels de bureau https://nikarit.oaninternational.org/accounting/details/8h47t9XjxIFm9NMbJD0W

2020-10-31 salaire mireille https://nikarit.oaninternational.org/accounting/details/XjCSEDhciHy3oZSNSVEG

2020-10-28 remise dargent au mécanicien de takou par le biais de younouss pour achat de pièces https://nikarit.oaninternational.org/accounting/details/IZzBZYHugAT68bLNgGNY

2020-10-16 obtention chéquier banque https://nikarit.oaninternational.org/accounting/details/4OcZ4z7W7wvLOeAd3yKR

2020-10-15 essence et péage https://nikarit.oaninternational.org/accounting/details/XETnZKvKRiXFoY6r2l14

2020-10-15 achat emballages https://nikarit.oaninternational.org/accounting/details/G2gKQhMucPCXQJT1L9ZG

2020-10-15 essence https://nikarit.oaninternational.org/accounting/details/LGJ1TUK9hyUNbGP0UEFl

2020-10-12 achat second plastique et filtre  https://nikarit.oaninternational.org/accounting/details/UvvVBTk8l7EigXJfCqse

2020-10-01 forfait appel et internet  https://nikarit.oaninternational.org/accounting/details/B2FkCLpJGSYBL9w4b6Sc

2020-09-30 forfait appel et internet https://nikarit.oaninternational.org/accounting/details/dgXDfR6xOh82KYa0zA9y

2020-09-30 évaluation du projet https://nikarit.oaninternational.org/accounting/details/BjhudUFMkhhjoOMBy2Xv

2020-09-30 salaire coordonatrice https://nikarit.oaninternational.org/accounting/details/XTcjIIeA2RC4m58hKEMP

2020-09-29 main doeuvre ménusier , bois , clous, fils de fer et tôles https://nikarit.oaninternational.org/accounting/details/LTUAn2w2rjX4NkEnrdvn

2020-09-10 solde dû https://nikarit.oaninternational.org/accounting/details/HRln0HZ34YumOGvy0zem

2020-09-08 péage  https://nikarit.oaninternational.org/accounting/details/IhjjNGP2AYzyOJN9GAuU

2020-09-01 achat crédit pour appel et internet https://nikarit.oaninternational.org/accounting/details/2bFq7WHJxqj79Eq0PUbE

2020-08-31 forfait appel et internet https://nikarit.oaninternational.org/accounting/details/zJCCYmPuM5DtvhArqxxI

2020-08-31 salaire coordonatrice https://nikarit.oaninternational.org/accounting/details/TYHDSMgeGV782S39gqB6

2020-08-31 salaire animatrice https://nikarit.oaninternational.org/accounting/details/RYfnqVXrmtYUIkL3o4Je

2020-08-31 salaire animatrice https://nikarit.oaninternational.org/accounting/details/XOZTrnAQBS3eUd9dGZFk

2020-08-01 achat crédit pour forfait appel et internet https://nikarit.oaninternational.org/accounting/details/IHH0RbojcmfkdxKml9dR

2019-09-30 salaire animatrice https://nikarit.oaninternational.org/accounting/details/5vYhObdpMXhgQGh5WOXU